.c_loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #E31C25;
  height: 50px;
  width: 50px;
  margin: auto;
  margin-top: 40px;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}